<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <body>
        <header>
            <div class="container">
                <h1 class="logo">tooNOISY</h1>
                <strong><nav>
                  <ul class="menu">
                    <li><a href="/">Home</a></li>
                    <li><a href="/">About</a></li>
                  </ul>
                </nav></strong>
              </div>
        </header>
        {% block content %}{% endblock %}
    </body>
