{% from 'bootstrap4/nav.html' import render_nav_item %}


<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
        <!-- Meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>tooNOISY</title>

        {% block styles %}
            <!-- Bootstrap CSS -->
            {{ bootstrap.load_css() }}
            <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        {% endblock %}

        

        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="navbar-nav mr-auto">
                {{ render_nav_item('index', 'tooNOISY') }}
            </div>
        </nav>
        {% block content %}{% endblock %}
        
        {% block scripts %}
            <!-- Bootstrap JS -->
            {{ bootstrap.load_js() }}
        {% endblock %}
    </body>
</html>