.thin{
  font-weight: 200;
}
.center{
  margin: auto;
  width: 50%;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  min-width: 40%;
}
.pattern{  
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  min-height: 100%;
  background-color: #171718;
  opacity: 1;
  background-image: radial-gradient(#96979e 0.5px, #171718 0.5px);
  background-size: 19px 19px;
}
h1, p, div, li {
  text-align: center;
  font-family: "Fira Code" , "Courier New", monospace;
}
.navbar-toggler{
  border: 0px
}
.column {
  float: left;
  width: 50%;
  padding: 5px;
}
.row{
    break-after: auto;

  --bs-gutter-x:0;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
.form-range{
  width: 80px;
  min-width: 80px;
}
.input-bar {
  margin: auto;
  width: 80%;
  max-width: 400px;
  min-width: 50%;
}
.variable-input{
  width:200px;
  max-width: 100%;
}
div.settings {
  display:flex;
  align-items: center;
  justify-content: center;
  grid-gap: 15px;
}
.sample {
  width: 40%;
  min-width: 50px
}
ul, ol{
  list-style-position: inside;
}
.opts{
  text-align: left;
  margin-left: unset;
}